@import 'tailwindcss';

/* Additional styles */
@import './additional-styles/utility-patterns.css' layer(components);
@import './additional-styles/range-slider.css' layer(components);
@import './additional-styles/toggle-switch.css' layer(components);
@import './additional-styles/theme.css';

@plugin "@tailwindcss/forms" {
  strategy: base;
}
@plugin "@tailwindcss/typography" {
  strategy: base;
}

@theme {
  --font-aspekta: Aspekta, sans-serif;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5715;
  --text-base: 1rem;
  --text-base--line-height: 1.625;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.5;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.444;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 1.333;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1.25;

  --color-emerald-50: #ECFDF3;
  --color-emerald-100: #D1FADF;
  --color-emerald-200: #A6F4C5;
  --color-emerald-300: #6CE9A6;
  --color-emerald-400: #32D583;
  --color-emerald-500: #12B76A;
  --color-emerald-600: #039855;
  --color-emerald-700: #027A48;
  --color-emerald-800: #05603A;
  --color-emerald-900: #054F31;

  --color-blue-50: #EFF4FF;
  --color-blue-100: #DBE2FF;
  --color-blue-200: #B6C4FF;
  --color-blue-300: #8098F9;
  --color-blue-400: #6172F3;
  --color-blue-500: #444CE7;
  --color-blue-600: #3538CD;
  --color-blue-700: #2D31A6;
  --color-blue-800: #26298B;
  --color-blue-900: #1D2343;

  --color-slate-50: #F8FAFC;
  --color-slate-100: #EFF4FF;
  --color-slate-200: #E2E8F0;
  --color-slate-300: #CBD5F5;
  --color-slate-400: #94A3B8;
  --color-slate-500: #64748B;
  --color-slate-600: #4B5563;
  --color-slate-700: #334155;
  --color-slate-800: #1E293B;
  --color-slate-900: #020617;

  --color-gray-50: #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
  --color-gray-800: #1F2933;
  --color-gray-900: #111827;

  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

/* Scrollbar (dark theme) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border-radius: 9999px;
  border: 2px solid #020617;
}

/* Base layer tweaks */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@utility rtl {
  direction: rtl;
}
